/* -------- GENERAL --------- */

/* font-family: 'Alata', sans-serif; */
/* font-family: 'Josefin Sans', sans-serif; */

body
{
    background-color: hsl(0, 0%, 100%);

    width: 1440px;

    margin: 0 auto;
}





/* ------- HEADER -------- */

header
{
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */

    font-family: 'Alata', sans-serif;
}

header .header-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 1110px;

    margin: 0 auto;

    padding-top: 60px;
}

header .header-container .logo>img
{
    width: 200px;
}

header .header-container .menu>ul
{
    display: flex;
    justify-content: space-between;

    width: 380px;
}

header .header-container .menu ul li>a
{
    text-decoration: none;

    color: hsl(0, 0%, 100%);

    font-size: 14px;
}

header .info
{
    width: 1110px;

    margin: 0 auto;

    display: flex;
    align-items: center;
}

header .info .container-p
{
    border: 2px solid white;

    margin: 130px 0;
}

header .info .container-p>p
{
    font-size: 70px;

    text-transform: uppercase;

    color: hsl(0, 0%, 100%);

    font-family: 'Josefin Sans', sans-serif;

    width: 550px;

    padding: 30px 50px 30px 30px;
}





/* -------- MAIN --------- */

main .container-main
{
    width: 1110px;

    margin: 0 auto;
}