/* -------- GENERAL --------- */

/* font-family: 'Alata', sans-serif; */
/* font-family: 'Josefin Sans', sans-serif; */

body
{
    background-color: hsl(0, 0%, 100%);

    max-width: 1440px;

    margin: 0 auto;
}





/* ------- HEADER -------- */

header
{
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Alata', sans-serif;

    max-width: 1440px;

    height: 650px;
}

header .header-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    padding-top: 60px;

    width: 100%;
    max-width: 1110px;
}

header .header-container .logo>img
{
    width: 200px;
}

header .header-container .menu>ul
{
    display: flex;
    justify-content: space-between;

    width: 380px;
}

header .header-container .menu ul li>a
{
    text-decoration: none;

    color: hsl(0, 0%, 100%);

    font-size: 14px;
}

header .header-container .menu ul>li>.borderHover
{
    background-color: white;

    height: 2px;
    width: 0px;

    transition: width 200ms;

    margin: 0 auto;
    margin-top: 8px;
}

header .info
{
    width: 100%;
    max-width: 1110px;

    margin: 0 auto;

    display: flex;
    align-items: center;
}

header .info .container-p
{
    border: 2px solid white;

    margin: 130px 0;
}

header .info .container-p>p
{
    font-size: 70px;

    text-transform: uppercase;

    color: hsl(0, 0%, 100%);

    font-family: 'Josefin Sans', sans-serif;

    width: 550px;

    padding: 30px 50px 30px 30px;
}





/* -------- MAIN --------- */

main
{
    max-width: 1110px;

    margin: 0 auto;
}

main .container-main
{
    margin: 150px auto;
}

main .container-main>.description
{
    display: flex;

    position: relative;
}

main .container-main .description>.container-description
{
    width: 450px;

    margin-top: 180px;

    padding-left: 100px;
    padding-top: 100px;

    background-color: white;

    position: absolute;
    bottom: 0;
    right: 0;
}

main .container-main .description .container-description>h2
{
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    
    text-transform: uppercase;

    margin-bottom: 30px;
}

main .container-main .description .container-description>p
{
    font-size: 15px;
    font-family: 'Alata', sans-serif;

    color: hsl(0, 0%, 55%);

    line-height: 25px;
}



/* ------- CONTAINER CREATIONS ------- */

main .container-main .creation>.title
{
    display: flex;
    justify-content: space-between;

    margin-top: 180px;
}

main .container-main .creation .title>h2
{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;

    text-transform: uppercase;
}

main .container-main .creation .title>#btnSee
{
    width: 155px;

    font-size: 15px;
    font-family: 'Alata', sans-serif;

    text-transform: uppercase;

    letter-spacing: 2px;

    background-color: white;

    border: 1px solid black;

    cursor: pointer;

    transition: background-color 200ms, color 200ms;
}

main .container-main .creation>.pictures-container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 90px;
    margin-bottom: 180px;
}

main .container-main .creation .pictures-container>.img
{
    margin-bottom: 30px;

    cursor: pointer;

    position: relative;
}

main .container-main .creation .pictures-container .img>figcaption
{
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;

    width: 136px;

    padding: 100px 80px 40px 40px;

    text-transform: uppercase;

    color: white;
    
    position: absolute;
    bottom: 4px;

    background: linear-gradient(#fff0, #000000c7);

    z-index: 3;

    transition: color 500ms, background 300ms;
}

main .container-main .creation .pictures-container .img>.hoverBackground
{
    height: 0%;
    width: 100%;

    background: rgba(255, 255, 255, 0.7);

    position: absolute;
    bottom: 0px;

    transition: height 300ms;
}





/* ------- FOOTER ------- */

footer
{
    background-color: hsl(0, 0%, 0%);
}

footer>.container-footer
{
    max-width: 1110px;

    margin: 0 auto;
}

footer .container-footer>.top-footer
{
    display: flex;
    justify-content: space-between;

    padding-top: 40px;
}

footer .container-footer .top-footer .logo>img
{
    width: 150px;
}

footer .container-footer .top-footer>.social-media
{
    display: flex;
    justify-content: space-between;

    width: 145px;
}

footer .container-footer .top-footer .social-media>a>i
{
    color: white;

    font-size: 25px;
}

footer .container-footer .top-footer .social-media>a>.borderHoverSocial
{
    background-color: white;

    height: 2px;
    width: 0px;

    transition: width 200ms;

    margin: 0 auto;
    margin-top: 8px;
}

footer .container-footer>.bottom-footer
{
    display: flex;
    justify-content: space-between;

    margin-top: 25px;

    padding-bottom: 50px;
}

footer .container-footer .bottom-footer .menu-footer
{
    width: 380px;
}

footer .container-footer .bottom-footer .menu-footer>ul
{
    display: flex;
    justify-content: space-between;
}

footer .container-footer .bottom-footer .menu-footer>ul>li>a
{
    text-decoration: none;

    color: white;

    font-size: 15px;
    font-family: 'Alata', sans-serif;
}

footer .container-footer .bottom-footer .menu-footer>ul>li>.borderHoverFooter
{
    background-color: white;

    height: 2px;
    width: 0px;

    transition: width 200ms;

    margin: 0 auto;
    margin-top: 8px;
}

footer .container-footer .bottom-footer>.copyright>p
{
    color: hsl(0, 0%, 41%);

    font-size: 15px;
    font-family: 'Alata', sans-serif;
}






/* --------- MEDIA QUERIES -------- */

@media screen AND (max-width: 450px) {

    .stop-scroll
    {
        height: 100%;
        overflow: hidden;
    }
    
    header {
        background-image: url(../images/mobile/image-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        font-family: 'Alata', sans-serif;
        max-width: 450px;
        height: 775px;
        z-index: 3;
    }

    header .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        width: inherit;
        max-width: 1110px;
        margin: 0 30px;
    }

    header .header-container .logo
    {
        z-index: 4;
    }

    header .header-container .logo > img {
        width: 170px;
    }

    header .info .container-p {
        border: 2px solid white;
        margin: 180px 30px;
    }

    header .header-container .menu > ul {
        display: none;
        width: 380px;
    }

    header .info .container-p > p {
        font-size: 40px;
        text-transform: uppercase;
        color: hsl(0, 0%, 100%);
        font-family: 'Josefin Sans', sans-serif;
        width: 90%;
        padding: 30px;
    }

    header .header-container .menu-burger
    {
        display: flex;
        align-items: center;
    }

    header .header-container .menu-burger button
    {
        padding: 0;
        border: none;
        background: none;
        z-index: 4;
    }
    
    header .header-container .menu-burger button>img
    {
        width: 25px;
    }

    #menuBurger
    {
        position: absolute;
        width: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        transition: width 500ms;
    }

    #menuBurger>ul
    {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #menuBurger ul>li>a
    {
        font-size: 40px;
        font-family: 'Josefin Sans', sans-serif;
        text-decoration: none;
        color: white;
        margin-left: 30px;
    }
}