/* -------- GENERAL --------- */

/* font-family: 'Alata', sans-serif; */
/* font-family: 'Josefin Sans', sans-serif; */

body
{
    background-color: hsl(0, 0%, 100%);

    max-width: 1440px;

    margin: 0 auto;
}





/* ------- HEADER -------- */

header
{
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Alata', sans-serif;

    max-width: 1440px;

    height: 650px;
}

header .header-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    padding-top: 60px;

    width: 100%;
    max-width: 1110px;
}

header .header-container .logo>img
{
    width: 200px;
}

header .header-container .menu>ul
{
    display: flex;
    justify-content: space-between;

    width: 380px;
}

header .header-container .menu ul li>a
{
    text-decoration: none;

    color: hsl(0, 0%, 100%);

    font-size: 14px;
}

header .info
{
    width: 100%;
    max-width: 1110px;

    margin: 0 auto;

    display: flex;
    align-items: center;
}

header .info .container-p
{
    border: 2px solid white;

    margin: 130px 0;
}

header .info .container-p>p
{
    font-size: 70px;

    text-transform: uppercase;

    color: hsl(0, 0%, 100%);

    font-family: 'Josefin Sans', sans-serif;

    width: 550px;

    padding: 30px 50px 30px 30px;
}





/* -------- MAIN --------- */

main
{
    max-width: 1110px;

    margin: 0 auto;
}

main .container-main
{
    margin: 150px auto;
}

main .container-main>.description
{
    display: flex;

    position: relative;
}

main .container-main .description>.container-description
{
    width: 450px;

    margin-top: 180px;

    padding-left: 100px;
    padding-top: 100px;

    background-color: white;

    position: absolute;
    bottom: 0;
    right: 0;
}

main .container-main .description .container-description>h2
{
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    
    text-transform: uppercase;

    margin-bottom: 30px;
}

main .container-main .description .container-description>p
{
    font-size: 15px;
    font-family: 'Alata', sans-serif;

    color: hsl(0, 0%, 55%);

    line-height: 25px;
}



/* ------- CONTAINER CREATIONS ------- */

main .container-main .creation>.title
{
    display: flex;
    justify-content: space-between;

    margin-top: 180px;
}

main .container-main .creation .title>h2
{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;

    text-transform: uppercase;
}

main .container-main .creation .title>#btn-see
{
    width: 155px;

    font-size: 15px;
    font-family: 'Alata', sans-serif;

    text-transform: uppercase;

    letter-spacing: 2px;

    background-color: white;

    border: 1px solid black;

    cursor: pointer;
}

main .container-main .creation>.pictures-container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 90px;
    margin-bottom: 180px;
}

main .container-main .creation .pictures-container>.img
{
    margin-bottom: 30px;
}